page-welcome {

    .button{
        margin-top: 30%;
        margin-left: 30%;
        color: white;
    }

.img{

    background-image: url('../../assets/imgs/wolf.jpg');
        background-color: black;
        background-size: cover;
       background-repeat: no-repeat;
       background-position: center;

}

h1{
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 60%;
}

.logo{
    margin-left: 40%;
}

}
